/* TODO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --blue: #007bff;
}

body, 
.nav {
    display: grid;
}

body {
    grid-template-columns: minmax(210px, 1fr) 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
            "sidebar nav"
            "sidebar main"
    ;
    border: 5px solid black;
}

/* NAVBAR */
nav {
    grid-area: nav;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 2fr;
    padding: 20px 40px;

}
.top-left {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.top-left,
.top-right,
.avatar-container .greeting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left {
    width: 100%;
    gap: 10px
}

.top-left div {
    width: 90%;
}

.top-left div input {
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
}
.top-right {
    justify-content: flex-end;
    gap: 2.5em;
}
.top-right h1 {
    font-size: 1.6em;
}
.avatar-container {
    display: flex;
    gap: 20px;
    padding: 0 1em;
}
.avatar-container .greeting {
    justify-content: center;
    flex-direction: column;
    line-height: 2em;
}
#greet {
    font-weight: 600;
}
#greet-name {
    font-size: 2.5em;
}
.bottom-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bottom-right > button {
    width: max(30%, 120px);
    height: 50px;
    border-radius: min(50px, 10px);
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.title {
    display: flex;
    gap: 8px;
    padding: 1em;
}
.title h1 {
    color: white;
    align-self: center;
}
.function-btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.function-btns:last-child {
    margin-top: 1.3em;
}
.side-item {
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding-left: 1.9em;
    color: white; 
}
.side-item img {
    width: 1.8em;
}

/* 
    item
display: flex;
align-items: center;
gap: 1.5em;
padding-left: 1.6em;
color: white; 

    icon 
width: 1.8em;
*/


.main {
    background-color: aliceblue;
    grid-area: main;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}



/* SVG */
#mag-glass, #bell {
    width: 1.8em;
}

#avatar-top {
    width: max(18%, 50px);
    height: auto;
}
#avatar-lrg {
    width: max(20%, 60px);
    height: auto;
}
#dashboard-img {
    width: 20%;
}


@media only screen and (max-width: 870px) {
    .top-right h1 {
        font-size: 18px;
    }
    #greet {
        font-size: 15px;
    }
    #greet-name {
        font-size: 30px;
    }
    .bottom-right > button {
        height: 40px;
        font-size: 15px;
        padding: 10px;
    }
    .title h1 {
        font-size: 19px;
    }
    .side-item {
        padding-left: 20px;
        font-size: 12px;
    }

}