* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue: #2b8bf1;
    --grey: #ddd;
    --white: white;
    --svgWidth: 25px;
    --full: 100%;
}

body {
    display: grid;
    grid-template: 2fr 5fr / .5fr 2fr;
    grid-template-areas: 
            "sidebar nav"
            "sidebar main"
    ;
    height: 100vh;
}


/* NAV */
nav {
    grid-area: nav;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1.5fr 2fr;
}

.search, .profileOptions {
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchBar {
    width: var(--full);
    height: 30px;
}
#searchBar input {
    width: var(--full);
    height: var(--full);
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--grey);
}
.profileOptions {
    justify-self: end;
    gap: 40px;
    margin-right: 50px;
}
.displayName {
    display: flex;
    align-items: center;
    gap: 20px;
}
.displayName h2 {
    font-size: 30px;
}
.displayName h2:after {
    content: " (@Billy1234)";
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons button {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-size: 20px;
}


/* SIDEBAR */

.sidebar {
    grid-area: sidebar;
    background-color: var(--blue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title li {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
#sideTitle {
    font-size: 32px;
    font-weight: 600;
}
.sidebar ul:not(:first-child) li {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 22px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}


/* MAIN */

.main {
    grid-area: main;
    background-color: var(--grey);
    height: var(--full);
    padding: 30px 20px;
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr .8fr;
    grid-template-areas: 
            "projects announcements"
            "projects trending"
    ;
    gap: 20px;
   
} 

.projectContainer {
    grid-area: projects;
}

.projects {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 20px;

}
.card {
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    border-radius: 20px;
    border-left: 10px solid gold;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    line-height: 1.6em;
}
.cardButtons {
    display: flex;
    justify-content: end;
    gap: 50px;
}


/* MAIN SIDE */
.announcementsContainer {
    grid-area: announcements;
}
.announcements, .trending {
    width: var(--full);
    height: calc(var(--full) - 10%);
    background-color: var(--white);
    border-radius: 20px;
    margin-top: 20px;
}
.announcements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.mainSideItem {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.trending {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.trendingContainer {
    grid-area: trending;
}

.trendingUser {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

.trendingAvatar img {
    width: 90px;
    height: auto;
}
.trendingName p {
    font-size: 20px;
}
#pic2 {
    width: 100px;
    height: auto;
}




/* SVG */
img {
    width: var(--svgWidth);
    height: auto;
}
#avatarTop {
    width: calc(var(--svgWidth) * 2);
    height: auto;
}
#avatarBottom {
    width: calc(var(--svgWidth) + 70px);
}
.sideTitleSVG {
    width: 50px;
    height: auto;
}
.sideItemSVG {
    width: 30px;
    height: auto;
}
.cardSVG {
    width: 30px;
    height: auto;
}




@media only screen and (max-width: 840px) {
    #searchBar {
        width: 80%;
        height: 30%;
    }
    .profileOptions {
        gap: 20px;
        margin-right: 0;
    }

    .displayName h2 {
        font-size: 20px;
    }
    .buttons button {
        width: 70px;
        font-size: 16px;
        border-radius: 10px;
        justify-content: center;
        margin-left: 10px;
    }
}